//base基础配置
//解决移动端 border 1px问题
@media (-webkit-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
  .border-bottom-1px {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}

@media (-webkit-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
  .border-bottom-1px {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

@media (-webkit-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.3);
      transform: scaleY(0.3);
    }
  }
  .border-bottom-1px {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
  }
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
